* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-height: 100;
    overflow-y: scroll;
}

main {
    min-height: 100vh;
    /*width: 100vw;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
    overflow: hidden;
}

.dashboard {
    /*background-color: linear-gradient(to right top, #65cfd9, #6bdcfb);*/
    background-color: burlywood;
    max-height: 100vh;
    color: #7400f8;
    padding: 2rem;
    margin: auto;
    width: 80vw;
}

.frame {
    display: grid;
    grid-template-columns: minmax(18%, 25%) 1fr;
    width: 100%;
}

.top {
    margin-bottom: 0;
    display: grid;
    width: 100%;
}

.bar {
    display: grid;
    place-items: center;
    width: 100%;
    max-height: 100%;
}

.navbar {
    /*display: inline-block;*/
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    display: grid;
    grid-template-rows: auto;
    /* overflow: hidden; */
    text-align: center;
    margin: 20px auto;
    list-style: none;
}

.link a {
    list-style: none;
    width: 7em;
    /* margin: 30px auto; */
    border: 1px solid red;
    text-decoration: none;
    color: #7400f8;
    text-align: center;
    padding: 4px 3px;
    text-decoration: none;
    font-size: 17px;
}

.link a:hover {
    background-color: #ddd;
    color: black;
}


/* .link a.active {
    background-color: rgb(255, 196, 0);
    /* color: black; 
} */

.link a .active {
    background-color: #04AA6D;
    color: white;
}

.profile-img {
    text-align: center;
    width: 100%;
    max-height: 20rem;
    z-index: 1;
}

.profile-img img {
    width: 5rem;
    border-radius: 50%;
}

figcaption {
    font-size: small;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main {
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 205px;
}

.mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    /*align-items: center;*/
    flex-direction: row;
    /* padding-bottom: 10px; */
}

.mainHeader {
    vertical-align: middle;
    max-height: 20rem;
    max-width: 95%;
    padding: 10px;
    margin: auto;
    /*background-color: antiquewhite;*/
}

.mainHeader h1 {
    text-align: left;
    line-height: 3.5em;
    letter-spacing: 0.5em;
    text-decoration: overline;
    white-space: nowrap;
    text-decoration-color: cadetblue;
    text-decoration-line: overline;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

.p-right,
.deta {
    padding: 0 .5em;
}

.container {
    flex: 0 1 48%;
    position: relative;
    scroll-snap-align: start;
    /* scroll-snap-stop: always; */
    margin: 5px;
    /* width: 100%; */
}

.image {
    display: block;
    width: 100%;
    height: 200px;
}

.overlay {
    display: block;
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 0;
    height: 100%;
    white-space: nowrap;
    transition: .5s step-start;
}

.container:hover .overlay {
    width: 100%;
    /* height: 100%; */
    /* bottom: 5%; */
    left: 0;
}

.text h1 {
    color: #f1f1f1;
    position: absolute;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
    bottom: calc(100% - 20%);
    left: 50%;
    -webkit-transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    transform: translate(-50%, -20%);
    white-space: normal;
}

.text p {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    color: #f1f1f1;
    position: absolute;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
    top: calc(100% - 60%);
    left: 50%;
    -webkit-transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
    white-space: normal;
}

button {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    position: absolute;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
    top: calc(100% - 20px);
    left: 50%;
    -webkit-transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
    white-space: normal;
}

.p-right i {
    color: #fff;
}


/* Style all font awesome icons */

.fa {
    padding: 20px;
    font-size: 30px;
    max-width: 50px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}


/* Facebook */

.fa-facebook {
    background: #3B5998;
    color: white;
}


/* Twitter */

.fa-twitter {
    background: #55ACEE;
    color: white;
}


/* youtube*/

.fa-youtube {
    background: #bb0000;
    color: white;
}


/* instagram*/

.fa-instagram {
    background: #125688;
    color: white;
}


/* snapchat */

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


/*Add a black background color to the top navigation 

.topnav {
    background-color: #333;
    overflow: hidden;
}


/* Style the links inside the navigation bar 

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover 

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Add an active class to highlight the current page 

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}


/* Hide the link that should open and close the topnav on small screens 

.topnav .icon {
    display: none;
}


/* Style the navigation menu 

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}


/* Navigation links 

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%;
    /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. 
    text-align: center;
    /* If you want the text to be centered 
}


/* Add a background color on mouse-over 

.navbar a:hover {
    background-color: #000;
}


/* Style the current/active link 

.navbar a.active {
    background-color: #04AA6D;
}


/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other 

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
        /* If you want the text to be left-aligned on small screens 
    }
}*/


/*
---------------------
/* Style the navigation menu 

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

Hide the links inside the navigation menu (except for logo/home) 

.topnav #myLinks {
    display: none;
}


/* Style navigation menu links 

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}


/* Style the hamburger menu 

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}


/* Add a grey background color on mouse-over 

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Style the active link (or home/logo) 

.active {
    background-color: #04AA6D;
    color: white;
}

div {
    width: 200px;
    height: 50px;
    background-color: #eee;
    overflow: visible;
}*/