<!DOCTYPE html>
<html>

<head>
    <title>Hello</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="js/data.js" defer></script>
</head>

<body>

    <div>
        <h1><a href="../index.html">Hello world</a></h1>
    </div>
    <header>
    </header>

    <nav>
        <div class="grid">
            <a href="#" id="Home" class="bar cell01">Home</a>
            <a href="#projects" id="Projects" class="bar cell02">Projects</a>
            <a href="#about" id="About" class="bar cell03">About</a>
            <a href="#donate" id="Donate" class="bar cell04">Donate</a>
        </div>
    </nav>

    <main>

        <section id="home" class="grid">
            <h1>Home</h1>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
        </section>

        <section id="projects" class="grid">
            <h1>Projects</h1>
            <div class="cell cell01">
                25234Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
        </section>

        <section id="about" class="grid">
            <h1>About</h1>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
        </section>

        <section id="donate" class="grid">
            <h1>Donate</h1>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
        </section>

    </main>

</body>

</html>