<!DOCTYPE html>
<html>

<head>
    <title>Hello</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/data.js" defer></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <h1><a href="../index.html">Hello world</a></h1>
        </div>
        <header>
        </header>

        <nav class="row">
            <div class="grid">
                <a href="#" id="Home" class="bar cell01 col-md-4">Home</a>
                <a href="#projects" id="Projects" class="bar cell02 col-md-8">Projects</a>
                <a href="#donate" id="Donate" class="bar cell04 col-md-12">Donate</a>
            </div>
        </nav>

    </div>

    <main class="container-fluid">

        <section id="home" class="grid">
            <h1>Home</h1>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
        </section>

        <section id="projects" class="grid">
            <h1>Projects</h1>
            <div class="cell cell01">
                25234Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
        </section>

        <section id="donate" class="grid">
            <h1>Donate</h1>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
            <div class="cell cell01">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea delectus doloremque dolor, vero vitae dolore cum in ipsam provident accusamus quae suscipit exercitationem illum a nisi minus commodi. Molestiae, vero.
            </div>
        </section>

    </main>

</body>

</html>