body {
    margin: 0;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-image: url(/image/roses-2090840_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position-x: center;
    background-attachment: fixed;
    background-attachment: scroll;
}

div h1 {
    position: absolute;
    left: 45%;
    top: 100px;
    width: auto;
}

section {
    margin: 20px;
}

#projects,
#about,
#donate {
    display: none;
}

.grid {
    margin: 0;
    padding: 1rem;
    display: inline-block;
    grid-template-columns: repeat(4, 10rem);
    gap: 1rem;
    list-style-type: none;
    border-radius: 0.5rem;
}

.cell {
    display: inline-flex;
    width: 16rem;
    height: 6rem;
    background-color: brown;
}